<!--
Copyright (C) 2011 Sunil Mohan Adapa <sunil@medhas.org>.
Copyright (C) 2011 O S K Chaitanya <osk@medhas.org>.

Author: Sunil Mohan Adapa <sunil@medhas.org>
         O S K Chaitanya <osk@medhas.org>

This file is part of GNOME Nonogram.

GNOME Nonogram is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

GNOME Nonogram is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with GNOME Nonogram. If not, see <http://www.gnu.org/licenses/>.
-->

<page xmlns="http://projectmallard.org/1.0/"
    type="guide"
    id="index">
  <info>
    <credit type="author copyright">
      <name>Sunil Mohan Adapa</name>
      <email>sunil@medhas.org</email>
      <years>2011</years>
    </credit>
    <credit type="author copyright">
      <name>O S K Chaitanya</name>
      <email>osk@medhas.org</email>
      <years>2011</years>
    </credit>
    <license>
      <p>GNU General Public License 3.0 or any later version</p>
    </license>
  </info>
  <title>GNOME Nonogram Help</title>

  <section id="getting_started" style="2column">
    <title>Getting Started</title>
  </section>

  <section id="how_to_play" style="2column">
    <title>How to Play</title>
  </section>

</page>
